/target/
!.mvn/wrapper/maven-wrapper.jar
/status.err
/profile.pro

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-check

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/