<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: bootstrapCss()}"></th:block>
    <title>Pizzas</title>
</head>

<body>
    <th:block th:replace="~{fragments :: navbar}"></th:block>
    <div class="container text-center">
        <p th:unless="${ingredients.size() > 0}" th:text="|Non ci sono ingredienti per le pizze del nostro menu!|" />
        <table th:if="${ingredients.size() > 0}" class="table">

            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-start">NOME</th>
                    <th>NUMERO DI PIZZE</th>
                    <th>DETTAGLI</th>
                    <th>MODIFY</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ingredient : ${ingredients}" th:object="${ingredient}">
                    <td th:text="|*{id}|" />
                    <td class="text-start" th:text="*{name}" />
                    <td th:text="*{pizzas.size()}" />
                    <td><a class="btn btn-success px-3" th:href="|ingredients/*{id}|"> + </a></td>
                    <td><a class="btn btn-warning" th:href="|ingredients/edit/*{id}|">✏</a></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="|#deleteModal-*{id}|">🗑</button>

                        <div class="modal fade" th:id="|deleteModal-*{id}|" tabindex="-1" aria-labelledby="youSureModal"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="youSureModal">Delete <span
                                                class="fw-bold">[[*{name}]]</span></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        <h3>Are you sure? </h3>
                                        <h4>Do you want to <span class="text-decoration-underline">delete</span> the
                                            ingredient
                                            <span class="fw-bold fs-2">[[*{name}]]</span>?
                                        </h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Dismiss</button>
                                        <form action="#" th:action="@{/ingredients/delete/{id}(id = *{id})}"
                                            method="post">
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <th:block th:replace="~{fragments :: bootstrapJs()}"></th:block>
</body>

</html>