<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments :: bootstrapCss()}"></th:block>
    <title>Home</title>
</head>

<body>
    <th:block th:replace="~{fragments :: navbar}"></th:block>
    <div class="container text-center">
        <h1>Questa e la home page del sito!</h1>
        <hr>
        <img th:src="@{/logo.png}" class="img-fluid" style="max-width: 200px;" alt="Duckpat logo">
        <th:block th:replace="~{fragments :: bootstrapJs()}"></th:block>
</body>

</html>